<h1>Vítězství Sovětské armády v roce 1945 zabezpečilo naše hranice</h1>
<p>Celková délka hranic ČSR v září 1938 měřila 4111 km a po roce 1945 3641 km. Po osvobození ČSR Sovětskou armádou se bezpečnost hranic značně zlepšila. Zatímco předmnichovská republika neměla přímé hranice se Sovětským svazem, dnešní naše vlast má s ním hranici dlouhou 98 km. Již tato skutečnost zesiluje naši bezpečnost.</p>
<p>Nejdelší hranici měla předmnichovská republika s Německem — 1545 km. Německý imperialismus byl vždy největším nepřítelem samostatnosti našich národů. Dlouhá délka naší hranice s Německem značně ztěžovala obranyschopnost naší vlasti, zvláště po tom, kdy v Německu nastoupil k moci hitlerovský fašismus. Po osvobození v roce 1945 se situace změnila. Dnešní republika má s Německem hranici dlouhou 905 km. Z toho je 549 km s Německou demokratickou republikou, jejíž lid si nepřeje války a s níž žijeme v nejužších přátelských vztazích. Od Německé spolkové republiky nás dělí pouze 356 km dlouhá hranice.</p>
<p>Dále hraničila naše republika před druhou světovou válkou hranicí dlouhou 549 km s Rakouskem, které až do března 1938 bylo klerofašistické a od března 1938 připojeno k fašistickému Německu. Dnes sousedíme s neutrálním Rakouskem hranicí dlouhou 570 km.</p>
<p>V roce 1938 měli jsme s beckovským Polskem, které k nám nemělo přátelských vztahů, 984 km dlouhou hranici. Dnes je hranice mezi ČSR a bratrským, lidově demokratickým Polskem dlouhá 1390 km.</p>
<p>S horthyovským Maďarskem měli jsme před druhou světovou válkou hranici 832 km dlouhou. Iredentistická politika maďarské buržoasie byla pro bezpečnost naší republiky stálým nebezpečím. Dnešní hranice s lidově demokratickým Maďarskem měří 678 km.</p>